.page {
  background-color: #2A2C2F;
  font-family: "Inter", "Arial", sans-serif;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .page {
    padding: 0 48px;
  }
}

@media screen and (max-width: 890px) {
  .page {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding: 0 16px;
  }
}
