.lead__image {
  width: 100%;
  margin-top: 64px;
  position: relative;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: calc(100% + 48px);
    left: -24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
    width: calc(100% + 32px);
    left: -16px;
  }
}
