.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 67px auto 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1184px;
  height: auto;
  background-image: url(../../images/cover-trains.jpg);
  position: relative;
  z-index: 0;
  text-decoration: none;
}

.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  display: block;
  opacity: .3;
  transition: opacity .5s ease;
  background-color: #2a2c2f;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100vw;
    margin-top: 0;
  }
}
