.footer {
  padding-bottom: 24px;
  max-width: 1184px;
  margin: 92px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 890px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    min-height: 310px;
    align-items: flex-start;
    margin-top: 64px;
    flex-direction: column;
  }
}
